page-cadastro {
    
}
.cadastroForm{
    padding: 3rem;
    ion-input{
        background-color: rgba(0,0,0,0.1);
    }
    .cadastro{
        margin-top: 3vh;
    }
}

.scroll-content {
    padding-bottom: 0 !important;
}